.b {
	background-color: purple;
}

.h {
	font-family: Copperplate;
	color: white;
	text-align: center;
	font-size: 40px;
}
.p {
	font-family: Copperplate;
	color: white;
	text-align: center;
	font-size: 30px;
}

.image1 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.image2 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.image3  {
  width: 30%;
  
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  color: white;
  font-family: Copperplate:
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Copperplate:
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
}

.f {
  font-family: Copperplate;
  color: white;
  text-align: left;
  font-size: 30px;
}